*{
    margin :0;
    padding :0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}
section{
    height: 100vh;
    display: flex;
    scroll-snap-align: start;
}
.one{
    background-image: linear-gradient(rgba(0, 0, 0, 0), transparent),url(images/L1.png);
    background-size:cover;
    background-position:center;
}
.two{
    background-image: linear-gradient(rgba(0, 0, 0, 0), transparent),url(images/L2.png);
    background-size:cover;
    background-position:center;
}
.three{
    background-image: linear-gradient(rgba(0, 0, 0, 0), transparent),url(images/L1.png);
    background-size:cover;
    background-position:center;
}
.four{
    background-image: linear-gradient(rgba(0, 0, 0, 0), transparent),url(images/L1.png);
    background-size:cover;
    background-position:center;
}
.content{
    text-align: center;
}
.button{
    border: 2px solid #e19251;
    background: none;
    padding: 15px 0;
    cursor: pointer;
    color: #a5593c;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    width: 150px;
    font-weight: bold;
    position: relative;
    top: 30px;
    left: -240px;
}
.button:hover{
    color: #a5593c;
}
.button::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #e19251;
    z-index: -1;
    transition: 0.8s;
    top: 0;
    border-radius: 0 0 50% 50%;
}
.button:hover::before{
    height: 180%;
}
.split{
    height: 100%;
    width: 50%;
    position: relative;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}
.left{
    left: 70px;
    top: -25px;
}
.right{
    right: -70px;
    top: -25px;
}
.par{
    color: #806517;
}
.pak{
    color: #806517;
}
.par h1{
    position: relative; top: 35px;
    color: #e19251;
    font-size: 30px;
}
.par p{
    position: relative; top: 40px;
    line-height: 20px;
    font-weight: bold;
}
.par h2{
    position: relative; top: 40px;
    color: #a5593c;
}
.par table{
    position: relative; top: 35px;
}
.par td{
    text-align: center;
    font-weight: bold;
}
.pak h1{
    position: relative; top: 30px;
    color: #e19251;
    font-size: 30px;
}
.pak p{
    position: relative; top: 35px;
    line-height: 20px;
    font-weight: bold;
}
.pak h2{
    position: relative; top: 35px;
    color: #a5593c;
}
.pak table{
    position: relative; top: 35px;
}
.pak td{
    text-align: center;
    font-weight: bold;
}
.pal{
    color: #806517;
}
.pal p{
    position: relative; top: 100px;
    font-weight: bold;
}
.pal h2{
    position: relative; top: 105px;
    color: #a5593c;
}